header nav {
width: 850px;
margin:auto;
align-items: center;
display: flex;
flex-direction: row;
}


body {
  background-color: #A46D7B;
}

main{
  margin: auto;
  margin: 10px auto 0px;
  width: 850px;
  background-color: #8C6871;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

h1, h2 ,h3 ,h4 ,h5, h6 {
  margin: auto;
  text-align: center;
  font-family: 'Inter' sans-serif;

}

nav {
  text-align: center;
}

nav ul {
  border-color: black;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  border: solid;
  border-width: 3px;
  display: inline-block;
  text-align: center;
  padding: 8px 25px;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: black;
}

section {
  height: 324px;
  width: 450px;
  overflow: auto;
  text-align: center;
}

section ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

footer {
  margin: 0px auto 0px;
  height: 50px;
  text-align: center;
  width: 850px;
  align-items: center;
  display: flex;
  flex-direction: row;
  background-color: #8C6871;
}

footer img{
  width: 200px;
  height: 50px;
}

/* Sales Data Specific */
#data {
  width: fit-content;
}

table, td , th {
  border : 1px solid black;
}

table {
  margin: 2rem;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial;
  background-color: #C2BBB8;

}

td, th {
  padding: 1rem;
}

thead th{
  font-weight: bold;
}
