body {
  background-color: #999491;
}

main{
  margin: auto;
  margin-top: 1rem;
  width: 75%;
  height: 50rem;
  background-color: #e2dddd;
}

#data {
  width: fit-content;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;

}
h1, h2 ,h3 ,h4 ,h5, h6 {
  margin: auto;
  text-align: center;
  font-family: 'Inter' sans-serif;

}

div {
  margin: auto;
}

nav {
  text-align: center;
}

ul {
  border-color: black;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  border: solid;
  border-width: 3px;
  display: inline-block;
  text-align: center;
  padding: 8px 25px;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: black;
}

/* Sales Data Specific */

table, td , th {
  border : 1px solid black;
}

table {
  margin: 2rem;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial;
  background-color: #C2BBB8;

}

td, th {
  padding: 1rem;
}

thead th{
  font-weight: bold;
}
